asgiref==3.9.1
click==8.2.1
colorama==0.4.6
Django==5.2.5
django-stubs-ext==5.2.2
djangorestframework==3.16.1
h11==0.16.0
packaging==25.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250822
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.35.0
